@use '../utilities' as *;

.aside { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-aside);
  z-index: 9999;
  border-radius: 0 2rem 2rem 0;

  // Desktop-sm 1000
  @include respond(desktop-sm) {
    flex-direction: row;
    border-radius: 0;
    height: 8rem;
  };

  &__logo-container {
    width: 100%;
    min-height: 10.3rem;
    background-color: var(--primary-Light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 2rem 0 0;

    // Desktop-sm 1000
    @include respond(desktop-sm) {
      min-height: 100%;
      width: 10.42%;
      border-radius: 0 2rem 2rem 0;
    };

    // Tab-port 700
    @include respond(tab-port-sm) {
      width: 7.2rem;
    };
  }

  &__logo {
    transform: scale(1.5);

    // Desktop-sm 1000
    @include respond(desktop-sm) {
      transform: scale(1.13);
    };

    // Tab-port 700
    @include respond(tab-port-sm) {
      transform: scale(1);
    };
  }

  &__btn-mode {
    cursor: pointer;

    // Desktop-sm 1000
    @include respond(desktop-sm) {
      padding: 0 3.2rem;
    };

    // Tab-port 700
    @include respond(tab-port-sm) {
      padding: 0 2.4rem;
    };
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // Desktop-sm 1000
    @include respond(desktop-sm) {
      flex-direction: row;
    };
  }

  &__avatar {
    width: 4rem;
    border-radius: 50%;
  }

  &__avatar-container {
    padding: 2.4rem 0;

    // Desktop-sm 1000
    @include respond(desktop-sm) {
      padding: 2.4rem 3.2rem;
    };

    // Tab-port 700
    @include respond(tab-port-sm) {
      padding: 2rem 2.4rem;
    };
  }
}











