

.status__button {
  padding: 1.3rem 1.7rem;
  width: 10.4rem;
  border-radius: .6rem;
  font-weight: 700;
  margin-right: 2rem;
  text-align: center;
  
  &--pending {
    background-color: var(--orange-light-op);
    color: var(--orange);
  }

  &--paid {
    background-color: var(--green-light-op);
    color: var(--green);
  }

  &--draft {
    background-color: var(--background-btn-draft-op);
    color: var(--btn-draft);
  }

  &-circle {
    display: inline-block;
    width: .8rem;
    height: .8rem;
    border-radius: 100%;
    margin-right: .5rem;
    
    &--pending {
      background-color: var(--orange);
      
    }
    &--paid {
      background-color: var(--green);
    }

    &--draft {
      background-color: var(--btn-draft);
    }
  }
}













