
:root {
  // === Primery ===
  --primary: #7C5DFA;
  --primary-Light: #9277FF;

  --blue-dark: #1E2139;
  --blue-dark-2: #0C0E16;
  --blue-dark-3: #141625;
  --blue-dark-4: #252945;
  --blue-light: #F9FAFE;
  --blue-light2: #7E88C3;

  --proba: #F9FAFE;
  
  --gray: #373B53;
  --gray2: #888EB0;
  --gray3: #777F98;
  --gray-light: #DFE3FA;
  --green: #33D69F;
  --green-light-op: rgba(51, 214, 159, .1);
  --red: #EC5757;
  --orange-light: #FF8F00;
  --orange-light-op: rgba(255, 143, 0, .1);

 // Background:
 --background: #f8f8fb;

 --white: #fff;
}












